<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand navheading" href="/">KEEP IN TOUCH</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        {{#if authenticatedUser}}
            <li class="nav-item">
                <a class="nav-link" href="/socials/{{authenticatedUser.id}}">{{authenticatedUser.firstName}}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/logout">LOG OUT</a>
            </li>
        {{else}}
            <li class="nav-item">
                <a class="nav-link" href="/signup">SIGN UP</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/login">LOG IN</a>
            </li>
        {{/if}}
      
      </ul>
    </div>
  </nav>