<br>
<br>
<br>
<br>
<br>
<br>
<br>
<div class="vl"></div>
<div class="vl1"></div>
<h1 class="dashboardHeading">keep in touch</h1>
<!-- <h1 class="dashboardHeading1" id="firstNameColor">{{authenticatedUser.firstName}}</h1> -->
<br>
<div id="dashContain" class="container">
    <div class="row">
        <div class="col-sm-12">
            <div id="dashSearchBarGroup" class="input-group mb-3">
                <div id="dashContain">
                    <div class="form-group">
                        <input type="text" id="dashSearchInput" class="form-control width-control" name="cellnumber" placeholder="(555) 555-5555"
                            required="required">
                    </div>
                    <div class="form-group">
                        <button type="submit" id="dashSearchSubmit" class="btn btn-primary btn-block btn-lg">search</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>