<div class="container">
    <div class="row">
        <div class="col-lg-12">
            I am an awesome dashboard for the current logged in user {{authenticatedUser.firstName}}
        </div>

    </div>
    <div class="row">
        <div class="col-lg-12">
            Maybe I could put a search bar on this page?
        </div>
    </div>
</div>