
    <div class="row">
        <div class="col-sm-6 ">
            <div class="input-group mb-3 signup">
                <form action="/examples/actions/confirmation.php" method="post">
                    <h2 class="signup1">sign in</h2>
                    <hr>
                    <h3 class="signintosearch">and seach a cell number</h3>
                    <form class="signinform">
                        <div class="form-group">
                        <input type="text" class="form-control width-control" name="cellnumber" placeholder="cell number" required="required">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control width-control" name="password" placeholder="password" required="required">
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary btn-block btn-lg">sign in</button>
                    </div>
                    </form>
            </div>
        </div>


    </div>
    <div>

    </div>


</div>
</div>