<div class="container">
  <div class="row">
    <div class="col-sm-4">


      <h1 class="heading">keep in touch.</h1>
      <h3 class="tagline">Enter a phone number below to connect on all social platforms with a single click</h3>
    </div>
    <div class="col-sm-4">
            <h1>settings page</h1>
    </div>
  </div>
  <div class="signin">
  </div>
</div>

<div class="col-sm-4">


</div>

</div>
</div>