<div class="container">
  <div class="row">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
      crossorigin="anonymous">
<h2>{{user.firstName}}</h2>
  </div>
  <div class="container">

    <div class="row">
      <h2>{{user.firstName}}</h2>
      <p>SOcial Facebook {{user.facebookEntry}}</p>
      <ul>
        <div class="wrapper socialicon">
          <i class="fa fa-5x fa-facebook-square"></i>
          <i class="fa fa-5x fa-twitter-square"></i>
          <i class="fa fa-5x fa-instagram"></i>
          <i class="fa fa-5x fa-snapchat-square"></i>
        </div>
      </ul>


    </div> 
  </div>
</div>
</div>